// _buttons.scss
.btn {
	display: inline-block;
	text-align: center;
	overflow: hidden;
	color: $white;
	@include border-radius(4px);
	border: 1px solid transparent;
	@include size(auto, 41px);
	cursor: pointer;
	// text
	@include font-size(16px);
	text-shadow: 0 1px 0 $black;
	line-height: 41px;
	padding: 0 30px;

	&.btn_default {
		border: 1px solid $dark-blue;
		background-color: $blue-2;
		//gradient
		background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, $blue-2), color-stop(100%, $black-2));
	    background-image: -webkit-linear-gradient($blue-2, $black-2);
	    background-image: -moz-linear-gradient($blue-2, $black-2);
	    background-image: -o-linear-gradient($blue-2, $black-2);
	    background-image: linear-gradient($blue-2, $black-2);
		// box-shadow
    	-webkit-box-shadow: 0 0.1em 0.1em $black-50, inset 0 0.1em 0 $white-50;
    	   -moz-box-shadow: 0 0.1em 0.1em $black-50, inset 0 0.1em 0 $white-50;
    			box-shadow: 0 0.1em 0.1em $black-50, inset 0 0.1em 0 $white-50;

		&:hover {
			background-color: $blue-3;
			// gradient
		    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, $white-00), color-stop(100%, $dark-blue));
		    background-image: -webkit-linear-gradient($white-00, $dark-blue);
		    background-image: -moz-linear-gradient($white-00, $dark-blue);
		    background-image: -o-linear-gradient($white-00, $dark-blue);
		    background-image: linear-gradient($white-00, $dark-blue);
		    // box-shadow
		    -webkit-box-shadow: 0 0.1em 0.1em $black-50, inset 0 0.1em 0 $white-50, inset 0 0 1em $blue-3;
		       -moz-box-shadow: 0 0.1em 0.1em $black-50, inset 0 0.1em 0 $white-50, inset 0 0 1em $blue-3;
		    		box-shadow: 0 0.1em 0.1em $black-50, inset 0 0.1em 0 $white-50, inset 0 0 1em $blue-3;
		}
	}
}