// _icons

.icon {
	display: inline-block;
	text-indent: -9999px;
	@include size(20px, 20px);

	&.icon_facebook {
		background: url(../images/sprite-social-box.png) no-repeat;
		background-position: 0 0;
	}

	&.icon_twitter {
		background: url(../images/sprite-social-box.png) no-repeat;
		background-position: -20px 0;
	}

	&.icon_best_price {
		background: url(../images/best-price-es.svg) 0 0 no-repeat;
		background-size: cover;
		@include size(56px, 56px);

	}

	&.icon_user_comment {
		background: url(../images/sprite-comment.jpg) no-repeat;
		background-position: 0 0;
		@include size(34px, 28px);
	}

	&.icon_flag_mex {
		background: url(../images/sprite-comment.jpg) no-repeat;
		background-position: -7px -33px;
		@include size(19px, 14px);
	}
}