// _icons

.icon {
	display: inline-block;
	text-indent: -9999px;
	@include size(20px, 20px);

	&.icon_facebook {
		background: url(../images/sprite-social-box.png) no-repeat;
		background-position: 0 0;
	}

	&.icon_twitter {
		background: url(../images/sprite-social-box.png) no-repeat;
		background-position: -20px 0;
	}

}