// variables

// colours
$white: #ffffff;
$white-00: rgba(255,255,255,0);
$white-50: rgba(255,255,255,.5);
$black: #000000;
$black-2: #01070f;
$black-50: rgba(0,0,0,.5);
$black-70: rgba(0,0,0,.7);
$gray: #e9eaee;
$gray-2: #efefef;
$gray-3: #999999;
$gray-4: #dedede;
$blue: #013d93;
$blue-2: #0645a3;
$blue-3: #0044a9;
$light-blue: #319fd8;
$dark-blue: #021B41;
$yellow: #ffff33;

// grid variables
$grid-columns: 12;
$grid-max-width: 65em;

// breakpoints
$breakpoint-small: "only screen and (min-width: 20em)";
$breakpoint-medium: "only screen and (min-width: 30em)";