// variables

// colours
$white: #ffffff;
$black: #000000;
$gray: #e9eaee;
$gray-2: #efefef;
$gray-3: #999999;
$blue: #013d93;
$light-blue: #319fd8;
$yellow: #ffff33;

// grid variables
$grid-columns: 12;
$grid-max-width: 65em;

// breakpoints
$breakpoint-small: "only screen and (min-width: 20em)";
$breakpoint-medium: "only screen and (min-width: 30em)";