// bower:scss
// endbower

@import 'reset';
@import 'variables';
@import 'mixins';
//@import 'grids';

*, *:after, *:before {
  margin: 0;
  padding: 0;
  @include border-box;
}

body {
  background-color: $gray;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  @include size(100%,auto);
  max-width: $grid-max-width;
  background-color: $white;
  padding: 12px 19px;
  margin: 45px auto;
  @include border-radius(8px);

  &:after {
    @extend %clearfix;
  }
}

.row:after {
  @extend %clearfix;
}

[class*='col-'] {
  float: left;
  //padding: 1em;
  width: 100%;
  min-height: 1px;
}

@media #{$breakpoint-medium} {
  main {
    width: 95%;
    max-width: $grid-max-width;
  }

  // loop para generar las class col-
  @for $i from 1 through $grid-columns {
    .col-#{$i} {
      width: 100% / $grid-columns * $i;
    }
  }

}

.breadcrumbs {
  @include size(100%,auto);
  display: block;
  margin-bottom: 15px;

  li {
    display: inline-block;
    @include font-size(13px);
    vertical-align: middle;
    color: $gray-3;

    // chevron
    &:before {
      content: "\203A";
      display: inline-block;
      vertical-align: bottom;
      @include font-size(13px);
      margin: 0 8px;
    }

    // remove chevron
    &:first-child:before {
        content: "";
        margin: 0;
    }
  }
  a {
    color: $light-blue;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

header {
  background-color: $gray-2;
  @include size(100%, 64px);
  @include border-radius(8px);
  overflow: hidden;
  padding: 10px;
  margin-bottom: 20px;
}
.results-title {
  @include font-size(20px);
  color: $blue;
  margin-bottom: 10px;
}
.results-subtitle {
  @include font-size(16px);
  color: $light-blue;
}

// social icons
@import "icons";

.social-box {
  @include size(auto, auto);
  overflow: hidden;
  float: right;
  margin: 12px 0;

  li {
    display: inline-block;
    vertical-align: middle;

    &:last-child {
      vertical-align: top;
    }
  }
}

