// bower:scss
@import "bower_components/fontawesome/scss/font-awesome.scss";
// endbower

@import 'reset';
@import 'variables';
@import 'mixins';
@import "icons";
@import "buttons";

*, *:after, *:before {
  margin: 0;
  padding: 0;
  @include border-box;
}

body {
  background-color: $gray;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  @include size(100%,auto);
  max-width: $grid-max-width;
  background-color: $white;
  padding: 12px 19px;
  margin: 45px auto;
  @include border-radius(8px);

  &:after {
    @extend %clearfix;
  }
}

.row:after {
  @extend %clearfix;
}

[class*='col-'] {
  float: left;
  width: 100%;
  min-height: 1px;
}

@media #{$breakpoint-medium} {
  main {
    width: 95%;
    max-width: $grid-max-width;
  }

  // loop para generar las class col-
  @for $i from 1 through $grid-columns {
    .col-#{$i} {
      width: 100% / $grid-columns * $i;
    }
  }

}

.breadcrumbs {
  @include size(100%,auto);
  display: block;
  margin-bottom: 15px;

  li {
    display: inline-block;
    @include font-size(13px);
    vertical-align: middle;
    color: $gray-3;

    // chevron
    &:before {
      content: "\203A";
      display: inline-block;
      vertical-align: bottom;
      @include font-size(13px);
      margin: 0 8px;
    }

    // remove chevron
    &:first-child:before {
        content: "";
        margin: 0;
    }
  }
  a {
    color: $light-blue;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

header {
  background-color: $gray-2;
  @include size(100%, 64px);
  @include border-radius(8px);
  overflow: hidden;
  padding: 10px;
  margin-bottom: 20px;
}
.results-title {
  @include font-size(20px);
  color: $blue;
  margin-bottom: 10px;
}
.results-subtitle {
  @include font-size(16px);
  color: $light-blue;
}

// social icons
.social-box {
  @include size(auto, auto);
  overflow: hidden;
  float: right;
  margin: 12px 0;

  li {
    display: inline-block;
    vertical-align: middle;

    &:last-child {
      vertical-align: top;
    }
  }
}

// search sectaion
.search-section {
  .col-7 {
    padding-right: 6px;
  }
  .col-5 {
    padding-left: 6px;
  }
}

.searchbox {
  @include size(100%, auto);
  min-height: 332px;
  background-color: $yellow;
  @include border-radius(8px);
  overflow: hidden;
  padding: 20px;
  margin-bottom: 20px;

  //
  h3 {
    @include font-size(18px);
    color: $blue;
    margin-bottom: 20px;
  }
}

form {

  .form-control {
    @include size(100%, auto);
    overflow: hidden;
    margin-bottom: 5px;
  }

  label {
    @include font-size(14px);
    display: inline-block;
    line-height: 30px;
  }

  input {
    @include size(100%, 30px);
    display: inline-block;
    overflow: hidden;
    border: 1px solid $gray-3;
    padding: 0 7px;
    background-color: $white;

    // texts
    @include font-size(14px);
    line-height: 30px;

    &[type=date] {
      background: $white url(../images/bg-input-date.jpg) 98% center no-repeat;
      padding-right: 30px;
    }
  }

  @include place-holder($gray-5);

  span {
    @include font-size(12px);
    display: inline-block;
    line-height: 60px;
  }

  .select-control {
    label {
      display: block;
    }
  }

  select {
    @include size(auto, 30px);
    display: inline-block;
    overflow: hidden;
    border: 1px solid $gray-3;
    @include border-radius(0px);
    padding: 0 7px;
    background-color: $white;
    // texts
    @include font-size(14px);
    line-height: 30px;
  }

  .right {
    float: right;
  }

  .icon {
    display: block;
    margin: 0 auto 10px;
  }
  .btn {
    display: block;
    margin: 0 auto;
  }

}

// promo hoteles
.box-destacada {
  @include size(100%, auto);
  min-height: 332px;
  background: url(../images/brasil.jpeg) center center no-repeat;
  background-size: cover;
  @include border-radius(8px);
  overflow: hidden;
  position: relative;
}

.promo-overlay {
  @include size(100%, 150px);
  background-color: $black-50;
  overflow: hidden;
  padding: 30px 20px;
  margin-bottom: 20px;
  // pos
  position: absolute;
  left: 0;
  right: 0;
  top: 90px;
  // texts
  color: $white;
  text-align: center;

  h3 {
    @include font-size(20px);
    margin-bottom: 15px;
  }

  p {
    @include font-size(12px);

    span {
      @include font-size(14px);
    }
    .price {
      @include font-size(20px);
    }
  }
}

// results-hoteles
.results-section {
  .col-8 {
    padding-right: 10px;
  }
  .col-4 {
    padding-left: 10px;
  }
}

.results-header {
  @include size(100%, 53px);
  background-color: $gray-2;
  @include border-radius(4px);
  overflow: hidden;
  padding: 10px;
  margin-bottom: 10px;

  h3 {
    @include font-size(20px);
    line-height: 30px;
    color: $blue;
  }
}
// listado de resultados
#results-listView {
  @include size(100%, auto);
  overflow: hidden;
}
// items
.results-list-items {
  @include size(100%, auto);
  @include border-radius(4px);
  border: 1px solid $gray-5;
  overflow: hidden;
  margin-bottom: 10px;

  .img-box {
    @include size(125px, 100%);
    padding: 15px;
    float: left;
  }

  .data-box {
    @include size(calc(100% - 277px), 100%);
    padding: 15px 15px 15px 0;
    float: left;

    .col {
      float: left;
      @include size(calc(100% - 150px), 100%);

      &:last-child {
        float: right;
        @include size(150px, 100%);
      }
    }
    h4 {
      @include font-size(18px);
      color: $light-blue;
      margin-bottom: 5px;
    }
    p {
      @include font-size(12px);
      color: $gray-3;
      margin-bottom: 10px;
    }
    a {
      @include font-size(12px);
      text-decoration: none;
      color: $light-blue;
      margin-bottom: 5px;

      &.comments {
        padding-left: 20px;
      }
    }
    em {
      @include font-size(16px);
      color: $blue;
      display: block;
      margin-bottom: 5px;
      .fa {
        color: $gray-5;
      }
    }
    span {
      @include font-size(12px);
      color: $blue;
      display: block;
      margin-bottom: 10px;
      padding-left: 20px;
    }
    .stars {
      display: block;
      overflow: hidden;
      margin-bottom: 5px;
      li {
        display: inline-block;
        vertical-align: middle;
        color: $yellow-2;
      }
    }
  }

  .confirm-box {
    @include size(152px, auto);
    padding: 20px 8px 16px;
    float: right;
    /* gradient */
    background: $yellow; /* Old browsers */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmYzMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  $yellow 0%, $white 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $yellow), color-stop(100%, $white)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  $yellow 0%, $white 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  $yellow 0%, $white 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  $yellow 0%, $white 100%); /* IE10+ */
    background: linear-gradient(to bottom,  $yellow 0%, $white 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffff33', endColorstr='#ffffff',GradientType=0 ); /* IE6-8 */

    small {
      @include font-size(12px);
      display: block;
      color: $gray-6;
      text-align: center;
      margin-bottom: 8px;
    }

    p {
      text-align: center;
      margin-bottom: 20px;
      span {
        @include font-size(16px);
      }
      em {
        @include font-size(18px);
      }
    }
  }

  img {
    border: 1px solid $gray-5;
    display: block;
  }
}

.add-hotel {
  padding: 10px 0;

  span {
    @include font-size(13px);

    a {
      color: $light-blue;
    }
  }
}

.pagination {
  @include size(100%, auto);
  text-align: center;
  margin-top: 40px;
  margin-bottom: 15px;

  ul {
    display: inline-block;

    li {
      height: 27px;
      text-align: center;
      float: left;
      margin-left: 2px;
      margin-right: 2px;

      &.next {
        margin-left: 10px;

        a:hover {
          text-decoration: underline;
        }
      }

      a {
        display: block;
        line-height: 27px;
        min-width: 27px;
        padding: 0 6px;
      }
    }
  }

  li {
    background: #eee;
    border: 1px solid #ccc;
    list-style: none;

    a {
      color: #319fda;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .active, .dots, .next {
    pointer-events: none;
    cursor: default;
    background: none;
    border: none;
  }
  .active, .dots {
    a {
      color: $gray-3;
    }
  }

}

.map-box {
  @include size(100%, auto);
  background-color: $gray-2;
  overflow: hidden;
  padding: 12px 10px 5px;
  margin-bottom: 10px;

  h3 {
    @include font-size(16px);
    color: $blue;
    margin-bottom: 10px;
  }

  .zoom {
    @include font-size(10px);
    display: inline-block;
    vertical-align: middle;
    color: $light-blue;
    float: right;
    text-decoration: none;
    line-height: 18px;
    margin-top: 5px;

    .fa {
      @include font-size(14px);
      vertical-align: middle;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}
#map {
  @include size(100%, 190px);
}

// comentarios
.comment-box {
  @include size(100%, auto);
  overflow: hidden;
}

.comment-text {
  @include size(100%, auto);
  background-color: $light-blue-2;
  border: 1px solid $light-blue-3;
  @include border-radius(4px);
  //overflow: hidden;
  padding: 10px;
  margin-bottom: 12px;
  position: relative;

  &::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -10px;
    left: 18px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid $light-blue-3;
    border-top-color: rgba(98, 182, 226, 0.8);
    font-size: 0;
    line-height: 0;
  }
  &::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -9px;
    left: 19px;
    width: 0;
    height: 0;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-top: 9px solid $light-blue-2;
    font-size: 0;
    line-height: 0;
  }

  p {
    @include font-size(12px);
    line-height: 18px;
    color: $gray-6;
  }
}

.comment-user-data {
  @include size(100%, auto);
  padding: 0 15px;
  overflow: hidden;
  margin-bottom: 15px;

  .col {
    float: left;

    &:first-child {
       @include size(34px, auto);
       text-align: center;
    }

    &:last-child {
      padding-left: 10px;
    }

    .icon_user_comment {
      margin-bottom: 5px;
    }
  }

  .name {
    @include font-size(16px);
    color: $blue;
    margin-bottom: 5px;
    display: block;
  }
  .description, .date {
    @include font-size(12px);
    color: $gray-3;
    margin-bottom: 5px;
    display: block;
  }
}

// stars content
.starts-hotel-box {
  @include size(100%, auto);
  @include border-radius(4px);
  background-color: $gray-2;
  padding: 14px;
  overflow: hidden;
  margin-bottom: 10px;
}
.content-item-hotel {
  @include size(100%, auto);
  overflow: hidden;
  line-height: 30px;

  a {
    @include font-size(14px);
    color: $light-blue;
    text-decoration: none;
  }

  ul {
    display: inline-block;
    float: right;
  }

  li {
    display: inline-block;
    color: $yellow-2;
  }
}

// type-box
.type-box{
  @include size(100%, auto);
  overflow: hidden;
  padding: 10px 0;
  margin-bottom: 10px;

  h5 {
    @include font-size(18px);
    color: $blue;
    padding: 0 10px;
    margin-bottom: 10px;
  }
  ul {
    @include size(100%, auto);
    overflow: hidden;
    margin-bottom: 10px;

    li {
      border-bottom: 1px solid $gray-2;
      line-height: 24px;

      &:last-child {
        border-bottom: none;
      }

      a {
        @include font-size(14px);
        text-decoration: none;
        color: $light-blue;
        padding: 0 10px;
      }
    }
  }
}

// footer
footer {
  @include size(100%, auto);
  overflow: hidden;
}
.container {
  @include size(100%, auto);
  background-color: $gray-2;
  margin-bottom: 10px;
  padding: 12px 5px;
  overflow: hidden;

  .col {
    @include size(calc(100%/5), auto);
    padding: 0 5px;
    float: left;

    &:first-child {
      padding-left: 0;
    }
  }

  h4 {
    @include font-size(15px);
    color: $blue;
    margin-bottom: 14px;
  }

  li {
    @include size(100%, auto);
    border-top: 1px solid $gray-4;
    line-height: 18px;
    padding: 0 2px;
  }

  a {
    @include font-size(13px);
    color: $light-blue;
    text-decoration: none;
  }
}
