// bower:scss
// endbower

@import 'reset';
@import 'variables';
@import 'mixins';
@import "icons";
@import "buttons";

*, *:after, *:before {
  margin: 0;
  padding: 0;
  @include border-box;
}

body {
  background-color: $gray;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  @include size(100%,auto);
  max-width: $grid-max-width;
  background-color: $white;
  padding: 12px 19px;
  margin: 45px auto;
  @include border-radius(8px);

  &:after {
    @extend %clearfix;
  }
}

.row:after {
  @extend %clearfix;
}

[class*='col-'] {
  float: left;
  width: 100%;
  min-height: 1px;
}

@media #{$breakpoint-medium} {
  main {
    width: 95%;
    max-width: $grid-max-width;
  }

  // loop para generar las class col-
  @for $i from 1 through $grid-columns {
    .col-#{$i} {
      width: 100% / $grid-columns * $i;
    }
  }

}

.breadcrumbs {
  @include size(100%,auto);
  display: block;
  margin-bottom: 15px;

  li {
    display: inline-block;
    @include font-size(13px);
    vertical-align: middle;
    color: $gray-3;

    // chevron
    &:before {
      content: "\203A";
      display: inline-block;
      vertical-align: bottom;
      @include font-size(13px);
      margin: 0 8px;
    }

    // remove chevron
    &:first-child:before {
        content: "";
        margin: 0;
    }
  }
  a {
    color: $light-blue;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

header {
  background-color: $gray-2;
  @include size(100%, 64px);
  @include border-radius(8px);
  overflow: hidden;
  padding: 10px;
  margin-bottom: 20px;
}
.results-title {
  @include font-size(20px);
  color: $blue;
  margin-bottom: 10px;
}
.results-subtitle {
  @include font-size(16px);
  color: $light-blue;
}

// social icons
.social-box {
  @include size(auto, auto);
  overflow: hidden;
  float: right;
  margin: 12px 0;

  li {
    display: inline-block;
    vertical-align: middle;

    &:last-child {
      vertical-align: top;
    }
  }
}

// search sectaion
.search-section {
  .col-7 {
    padding-right: 6px;
  }
  .col-5 {
    padding-left: 6px;
  }
}

.searchbox {
  @include size(100%, auto);
  min-height: 332px;
  background-color: $yellow;
  @include border-radius(8px);
  overflow: hidden;
  padding: 20px;
  margin-bottom: 20px;

  //
  h3 {
    @include font-size(18px);
    color: $blue;
    margin-bottom: 20px;
  }
}

form {

  .form-control {
    @include size(100%, auto);
    overflow: hidden;
    margin-bottom: 5px;
  }

  label {
    @include font-size(14px);
    display: inline-block;
    line-height: 30px;
  }

  input {
    @include size(100%, 30px);
    display: inline-block;
    overflow: hidden;
    border: 1px solid $gray-3;
    padding: 0 7px;
    background-color: $white;

    // texts
    @include font-size(14px);
    line-height: 30px;
  }

  span {
    @include font-size(12px);
    display: inline-block;
    line-height: 60px;
  }

  .select-control {
    label {
      display: block;
    }
  }

  select {
    @include size(auto, 30px);
    display: inline-block;
    overflow: hidden;
    border: 1px solid $gray-3;
    @include border-radius(0px);
    padding: 0 7px;
    background-color: $white;
    // texts
    @include font-size(14px);
    line-height: 30px;
  }

  .right {
    float: right;
  }

  .icon {
    display: block;
    margin: 0 auto 10px;
  }
  .btn {
    display: block;
    margin: 0 auto;
  }

}

// promo hoteles
.box-destacada {
  @include size(100%, auto);
  min-height: 332px;
  background: url(../images/brasil.jpeg) center center no-repeat;
  background-size: cover;
  @include border-radius(8px);
  overflow: hidden;
  position: relative;
}

.promo-overlay {
  @include size(100%, 150px);
  background-color: $black-50;
  overflow: hidden;
  padding: 30px 20px;
  margin-bottom: 20px;
  // pos
  position: absolute;
  left: 0;
  right: 0;
  top: 90px;
  // texts
  color: $white;
  text-align: center;

  h3 {
    @include font-size(20px);
    margin-bottom: 15px;
  }

  p {
    @include font-size(12px);

    span {
      @include font-size(14px);
    }
    .price {
      @include font-size(20px);
    }
  }
}

// results-hoteles
.results-section {
  .col-8 {
    padding-right: 10px;
  }
  .col-4 {
    padding-left: 10px;
  }
}

.results-header {
  @include size(100%, 53px);
  background-color: $gray-2;
  @include border-radius(4px);
  overflow: hidden;
  padding: 10px;
  margin-bottom: 10px;

  h3 {
    @include font-size(20px);
    line-height: 30px;
    color: $blue;
  }
}
// listado de resultados
#results-listView {
  @include size(100%, auto);
  overflow: hidden;
}
// items
.results-list-items {
  @include size(100%, auto);
  @include border-radius(4px);
  border: 1px solid $gray-5;
  overflow: hidden;

  .img-box {
    padding: 15px;
    float: left;
  }
  .data-box {
    padding: 15px 0;
    float: left;
  }

  img {
    border: 1px solid $gray-5;
    display: block;
  }
}


.map-box {
  @include size(100%, auto);
  background-color: $gray-2;
  overflow: hidden;
  padding: 12px 10px;
  margin-bottom: 10px;

  h3 {
    @include font-size(16px);
    color: $blue;
    margin-bottom: 10px;
  }
}

#map {
  @include size(100%, 190px);
}

// footer
footer {
  @include size(100%, auto);
  overflow: hidden;
}
.container {
  @include size(100%, auto);
  background-color: $gray-2;
  margin-bottom: 10px;
  padding: 12px 5px;
  overflow: hidden;

  .col {
    @include size(calc(100%/5), auto);
    padding: 0 5px;
    float: left;

    &:first-child {
      padding-left: 0;
    }
  }

  h4 {
    @include font-size(15px);
    color: $blue;
    margin-bottom: 14px;
  }

  li {
    @include size(100%, auto);
    border-top: 1px solid $gray-4;
    line-height: 18px;
    padding: 0 2px;
  }

  a {
    @include font-size(13px);
    color: $light-blue;
    text-decoration: none;
  }
}
